<a href="https://colab.research.google.com/github/20r21a6724karthikeya/Python-elearning/blob/main/python_e_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#remove
l=['apple','banana','mango','strawberry','blueberry','grapes','@','&']
l.remove('banana')
print(l)

['apple', 'mango', 'strawberry', 'blueberry', 'grapes', '@', '&']

In [ ]:
#pop
l=['apple','banana','mango','strawberry','blueberry','grapes','@','&']
l.pop(2)
print(l)

['apple', 'banana', 'strawberry', 'blueberry', 'grapes', '@', '&']

In [ ]:
#delete---->del collection_name[index_pos_number]
l=['apple','banana','mango','strawberry','blueberry','grapes','@','&']
del l[2]
print(l)

['apple', 'banana', 'strawberry', 'blueberry', 'grapes', '@', '&']

In [ ]:
#4th clear
l1=['apple','banana','mango','strawberry','blueberry','grapes','@','&']
l1.clear()
print(l1)

[]

In [ ]:
#tuple-->()
#ordered, immutable, allows the dupilcates
t=('apple','banana','mango','strawberry','blueberry','grapes')
print(t)
print(type(t))

('apple', 'banana', 'mango', 'strawberry', 'blueberry', 'grapes')
<class 'tuple'>

In [ ]:
#allows duplicates
t=('apple','bannana','mango','strawberry','blueberry','grapes','grapes')
print(t)

('apple', 'bannana', 'mango', 'strawberry', 'blueberry', 'grapes', 'grapes')

In [ ]:
#tuple are ordered
t=('apple','bannana','mango','strawberry','blueberry','grapes')
print(t[3])
print(t[1:5])
#print even positions of above tuple
t=('apple','bannana','mango','strawberry','blueberry','grapes')
print(t[::2])
#print the reverse of the above collection
t=('apple','bannana','mango','strawberry','blueberry','grapes')
print(t[::-1])

strawberry
('bannana', 'mango', 'strawberry', 'blueberry')
('apple', 'mango', 'blueberry')
('grapes', 'blueberry', 'strawberry', 'mango', 'bannana', 'apple')

In [ ]:
#tuple is immutable
t=('apple','bannana','mango','strawberry','blueberry','grapes')
t[0]='orange'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#how can we add new items into the tuple
t=('apple','bannana','mango','strawberry','blueberry','grapes')
t=t+('orange',)
print(t)
#what is difference b\w list and tuple?
#when i should use list and when i should use tuple?

('apple', 'bannana', 'mango', 'strawberry', 'blueberry', 'grapes', 'orange')

In [ ]:
#set-->{}
#unordered,no duplicates,immutable
s1={'apple','banana','mango','strawberry','blueberry','grapes','apple'}
print(s1)
print(type(s1))

{'banana', 'grapes', 'strawberry', 'mango', 'apple', 'blueberry'}
<class 'set'>

In [ ]:
#sets are unordered
print(s1[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#why sets are immutable?
''' in sets we can add new elements are new items/items and we can remove the items but we cannot swap(replace) items beacuse sets will not have specific postion

In [ ]:
#add items in to set
s1={'dog','horse','hen','elephant'}
s1.add('cow')
print(s1)

{'dog', 'horse', 'elephant', 'cow', 'hen'}

In [ ]:
#update method:-we can update other collection values in the taken set\\
l=[1,2,3,4,5]
s1.update(l)
print(s1)

{1, 'dog', 'horse', 2, 3, 4, 5, 'elephant', 'cow', 'hen'}

In [ ]:
#1.remove
s1.remove(1)
print(s1)

{'horse', 2, 3, 4, 5, 'elephant', 'cow', 'hen'}

In [ ]:
#discard
s1.discard("hen")
print(s1)

{'horse', 2, 3, 4, 5, 'elephant', 'cow'}

In [ ]:
#pop method
s1.pop()
print(s1)

{2, 3, 4, 5, 'elephant', 'cow'}

In [ ]:
#del
del s1
print(s1)

In [ ]:
#clear
s2={1,2,3,4,5,6,7,8,9,10}
s2.clear()
print(s2)

set()

In [ ]:
#what is the main reason we use sets
s1={'a','b','c','d'}
s2={'d','e','f','g'}
s1.intersection_update(s2)
print(s1)

{'d'}

In [ ]:
s3=s1.union(s2)
print(s3)

{'d', 'e', 'f', 'g'}

Heterogenous and homogenous data

In [ ]:
#Dictionary
#where we can store our items in a dictionary?
#A)key:value pairs
#Dictionary-->{}
#-->unordered, it won't allow duplicates , mutable
d1={"Name":"Python",
    "Last_name":"programming",
    "age":29,
    "module":True}
print(d1)
print(type(d1))

{'Name': 'Python', 'Last_name': 'programming', 'age': 29, 'module': True}
<class 'dict'>

In [ ]:
#how can we print keys and values separetly?
print(d1.keys())
print(d1.values())

dict_keys(['Name', 'Last_name', 'age', 'module'])
dict_values(['Python', 'programming', 29, True])

In [ ]:
print(d1.items())

dict_items([('Name', 'Python'), ('Last_name', 'programming'), ('age', 29), ('module', True)])

In [ ]:
#find length of dictionary
print(len(d1))

4

In [ ]:
#dict is an unordered
#how can we access the elements from the dict
print(d1['Name'])
print(d1.get('Name'))

Python
Python

In [ ]:
#how can we change the values to the particular key
d1['Name']='Java'
print(d1)

{'Name': 'Java', 'Last_name': 'programming', 'age': 29, 'module': 'yes'}

In [ ]:
#update is also similar method we are using to update/replace values in dict
d1={'Name':'Python',
    'Last_name':'programming',
    'age':29,
    'module':True}
d1.update({'module':'yes'})
print(d1)

{'Name': 'Python', 'Last_name': 'programming', 'age': 29, 'module': 'yes'}

In [ ]:
d1={
    "Name":"Python",
    "Last_name":"programming",
    "age":29,
    "module":True
}
d1['typed'] = 'Dynamicall typed'
print(d1)

{'Name': 'Python', 'Last_name': 'programming', 'age': 29, 'module': True, 'typed': 'Dynamicall typed'}

In [ ]:
#Note: if the input keys are present the value get upated if it is not present new key value pairs added

In [ ]:
#how can we remove the items in dict?
#pop
d1={'Name':'Python',
    'Last_name':'programming',
    'age':29,
    'module':True}
d1.pop('Name')
print(d1)

{'Last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
d1={'Name':['Python','c++','Java'],
    'Last_name':'programming',
    'age':29,
    'module':True}
print(d1)
print(d1['Name'][1])
d1['Name'][1]='c'
print(d1)

{'Name': ['Python', 'c++', 'Java'], 'Last_name': 'programming', 'age': 29, 'module': True}
c++
{'Name': ['Python', 'c', 'Java'], 'Last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
#add new items in to the list in name?
d1={'Name':['Python','c++','Java'],
    'Last_name':'programming',
    'age':29,
    'module':True}
d1['Name'].append('R')
print(d1)

{'Name': ['Python', 'c++', 'Java', 'R'], 'Last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
d1={'Name':['Python','c++','Java','R'],
    'Last_name':'programming',
    'age':29,
    'module':True}
print(d1['Name'][3])

R

In [ ]:
#delete java from the  name
d1={'Name':['Python','c++','Java','R'],
    'Last_name':'programming',
    'age':29,
    'module':True}
del d1['Name'][2]
print(d1)

{'Name': ['Python', 'c++', 'R'], 'Last_name': 'programming', 'age': 29, 'module': True}

In [ ]:
#clear total dict
d1.clear()
print(d1)

{}

In [ ]:
#delete the entire dict
d2={'Name':['Python','c++','Java','R'],
    'Last_name':'programming',
    'age':29,
    'module':True}
del d2

In [ ]:
#working with loops in dictionary
d3={'Name':['Python','c','Java'],
    'Last_name':'programming',
    'age':29,
    'module':True}
#print keys() dict by using loops
for i in d3.keys():
    print(i)

Name
Last_name
age
module

In [ ]:
#print the values
for i in d3.values():
  print(i)

['Python', 'c', 'Java']
programming
29
True

In [ ]:
#print the keys and values in a separate line
d3={'Name':['Python','c','Java'],
    'Last_name':'programming',
    'age':29,
    'module':True}
for i,j in d3.items():
  print(i,j)
#print output in dict format
for x in d3.keys():
    print(f'{x}:{d3[x]}')

Name ['Python', 'c', 'Java']
Last_name programming
age 29
module True
Name:['Python', 'c', 'Java']
Last_name:programming
age:29
module:True

In [ ]:
#dict-->{}-->uordered, key:value pairs,won't allow duplicates,where values are changable and keys are unchangables,immutable
#list-->[]-->ordered,allows the duplicates ,mutable
#tuple-->()-->ordered,allows the dupilcates,immutable
#set-->{}-->unordered,no duplicates,immutable

Escape Characters

In [ ]:
#escape characters are used to print the illegel characters.
print('dwyane \ "The Rock" Kohnson')
#Note:-give the backward slash before illegel characters

dwyane \ "The Rock" Kohnson